run = "npm run dev"
entrypoint = "src/client/main.tsx"

[nix]
channel = "stable-23_11"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages]
[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.typescript]
pattern = "**/*.ts"
syntax = "typescript"

[languages.tsx]
pattern = "**/*.tsx"
syntax = "tsx"

[languages.python]
pattern = "**/*.py"
syntax = "python"

[languages.json]
pattern = "**/*.json"
syntax = "json"

[languages.css]
pattern = "**/*.css"
syntax = "css"

[languages.html]
pattern = "**/*.html"
syntax = "html" 